<div class="featured-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <p class="text-muted"><span class="typewrite d-inline" data-period="2000" data-type='[ " Travel Blogger. ", "Content Writter. ", "Food Guides " ]'></span></p>
                <h2>Hello, I’m <span>Steven</span></h2>
                <h3 class="mb-20"> Welcome to my blog</h3>
                <h5 class="text-muted">Don't miss out on the latest news about Travel tips, Hotels review, Food guide...</h5>
                <form class="input-group form-subcriber mt-30 d-flex">
                    <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                    <button class="btn bg-primary text-white" type="submit">Subscribe</button>
                </form>
            </div>
            <div class="col-lg-6 text-right d-none d-lg-block">
                <img src="imgs/authors/featured.png" alt="">
            </div>
        </div>
    </div>
</div>