<div class="featured-slider-2">
    <div class="featured-slider-2-items">
        <div class="slider-single">
            <div class="post-thumb position-relative">
                <div class="thumb-overlay position-relative" style="background-image: url(/imgs/news/news-16.jpg)">
                    <div class="post-content-overlay">
                        <div class="container">
                            <div class="entry-meta meta-0 font-small mb-20">
                                <a href="category.html.htm" tabindex="0"><span class="post-cat text-info text-uppercase">Travel</span></a>
                                <a href="category.html.htm" tabindex="0"><span class="post-cat text-warning text-uppercase">Animal</span></a>
                            </div>
                            <h1 class="post-title mb-20 font-weight-900 text-white">
                                <a class="text-white" href="single.html.htm" tabindex="0">How to Visit Bali's Monkey Forest</a>
                            </h1>
                            <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                <span class="post-on">26 August 2020</span>
                                <span class="hit-count has-dot">18k Views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-single">
            <div class="post-thumb position-relative">
                <div class="thumb-overlay position-relative" style="background-image: url(/imgs/news/news-17.jpg)">
                    <div class="post-content-overlay">
                        <div class="container">
                            <div class="entry-meta meta-0 font-small mb-20">
                                <a href="category.html.htm" tabindex="0"><span class="post-cat text-info text-uppercase">Lifestyle</span></a>
                                <a href="category.html.htm" tabindex="0"><span class="post-cat text-warning text-uppercase">Destinations</span></a>
                            </div>
                            <h1 class="post-title mb-20 font-weight-900 text-white">
                                <a class="text-white" href="single.html.htm" tabindex="0">Abstract Australia from Above</a>
                            </h1>
                            <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                <span class="post-on">15 September 2020</span>
                                <span class="hit-count has-dot">23k Views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-single">
            <div class="post-thumb position-relative">
                <div class="thumb-overlay position-relative" style="background-image: url(/imgs/news/news-18.jpg)">
                    <div class="post-content-overlay">
                        <div class="container">
                            <div class="entry-meta meta-0 font-small mb-20">
                                <a href="category.html.htm" tabindex="0"><span class="post-cat text-warning text-uppercase">Travel Tips</span></a>
                            </div>
                            <h1 class="post-title mb-20 font-weight-900 text-white">
                                <a class="text-white" href="single.html.htm" tabindex="0">Tips for Scuba Diving the Great Barrier Reef</a>
                            </h1>
                            <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                <span class="post-on">15 September 2020</span>
                                <span class="hit-count has-dot">17k Views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-single">
            <div class="post-thumb position-relative">
                <div class="thumb-overlay position-relative" style="background-image: url(/imgs/news/news-19.jpg)">
                    <div class="post-content-overlay">
                        <div class="container">
                            <div class="entry-meta meta-0 font-small mb-20">
                                <a href="category.html.htm" tabindex="0"><span class="post-cat text-info text-uppercase">Hotel</span></a>
                                <a href="category.html.htm" tabindex="0"><span class="post-cat text-warning text-uppercase">Healthy</span></a>
                            </div>
                            <h1 class="post-title mb-20 font-weight-900 text-white">
                                <a class="text-white" href="single.html.htm" tabindex="0">Staying at the Hilton Seychelles Northolme Resort & Spa</a>
                            </h1>
                            <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                <span class="post-on">22 September 2020</span>
                                <span class="hit-count has-dot">16k Views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container position-relative">
        <div class="arrow-cover color-white"></div>
        <div class="featured-slider-2-nav-cover">
            <div class="featured-slider-2-nav">
                <div class="slider-post-thumb mr-15 mt-20 position-relative">
                    <div class="d-flex hover-up-2 transition-normal">
                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5">
                            <img class="border-radius-5" src="/imgs/news/thumb-16.jpg" alt="">
                        </div>
                        <div class="post-content media-body text-white">
                            <h5 class="post-title mb-15 text-limit-2-row">How to Visit Bali's Monkey Forest</h5>
                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                <span class="post-on text-white">26 Aug</span>
                                <span class="post-by has-dot text-white">18k views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-post-thumb mr-15 mt-20 position-relative">
                    <div class="d-flex hover-up-2 transition-normal">
                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5">
                            <img class="border-radius-5" src="/imgs/news/thumb-17.jpg" alt="">
                        </div>
                        <div class="post-content media-body text-white">
                            <h5 class="post-title mb-15 text-limit-2-row">Abstract Australia from Above</h5>
                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                <span class="post-on text-white">15 Sep</span>
                                <span class="post-by has-dot text-white">23k views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-post-thumb mr-15 mt-20 position-relative">
                    <div class="d-flex hover-up-2 transition-normal">
                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5">
                            <img class="border-radius-5" src="/imgs/news/thumb-18.jpg" alt="">
                        </div>
                        <div class="post-content media-body text-white">
                            <h5 class="post-title mb-15 text-limit-2-row">Tips for Scuba Diving the Great Barrier Reef</h5>
                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                <span class="post-on text-white">18 Sep</span>
                                <span class="post-by has-dot text-white">17k views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-post-thumb mr-15 mt-20 position-relative">
                    <div class="d-flex hover-up-2 transition-normal">
                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5">
                            <img class="border-radius-5" src="/imgs/news/thumb-19.jpg" alt="">
                        </div>
                        <div class="post-content media-body text-white">
                            <h5 class="post-title mb-15 text-limit-2-row">Staying at the Hilton Seychelles Northolme Resort & Spa</h5>
                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                <span class="post-on text-white">22 Sep</span>
                                <span class="post-by has-dot text-white">16k views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   