
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatePost</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <style>
        input {
            display: block;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Tạo mới bài viết</h1>
            <div class="form-group">
                <label for="exampleFormControlFile1">Tiêu đề</label>
                <input type="text" id="title" class="form-control" placeholder="Tiêu đề" />
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Nội dung</label>
                <textarea id="content" class="form-control" placeholder="Nội dung" rows="5"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Danh mục</label>
                <select id="category-id" class="form-control"></select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Đường dẫn ảnh</label>
                <input type="text" id="image-link" class="form-control" />
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Tag</label>
                <input type="text" id="tag" class="form-control" />
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Type</label>
                <input type="text" id="type" class="form-control" />
            </div>

            <button type="button" class="btn btn-primary" id="createPost">Submit</button>
        </div>
        <div class="col-3"></div>
    </div>









    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            LoadCategories();

            $("#createPost").click(function () {
                if ($("input").val() == "" || $("textarea").val() == "") {
                    iziToast.warning({
                        title: 'Caution',
                        message: 'Nhập không đủ đòi thêm cl!',
                    });
                }
                else {
                    var post = {
                        Title: $("#title").val(),
                        Content: $("#content").val(),
                        AuthorId: "@User.Claims.FirstOrDefault(c => c.Type == "Id").Value",
                        CategoryId: $("#category-id").val(),
                        ImageLink: $("#image-link").val(),
                        Tag: $("#tag").val(),
                        Type: $("#type").val()
                    };

                    $.ajax({
                        url: "/Blog/CreatePost",
                        method: "POST",
                        dataType: "json",
                        data: {
                            request: post
                        },
                        success: function (data) {
                            console.log(data);

                            $("input").val("");
                            $("textarea").val("");

                            iziToast.success({
                                title: '',
                                message: 'Thêm mới bài viết thành công!',
                            });
                        }
                    });
                }

            });
        });

        window.addEventListener('beforeunload', function (e) {
            if ($("input").val() != "" || $("textarea").val() != "") {
                e.preventDefault();
                e.returnValue = '';
            }
        });

        function LoadCategories() {
            $.ajax({
                url: "/Blog/GetCategories",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    var html = "";
                    $(data).each(function (index, cat) {
                        html += "<option value='" + cat.id + "'>" + cat.name + "</option>";
                    });
                    $("#category-id").html(html);
                }
            });
        }

    </script>
</body>
</html>
