
@{
    var code = ViewBag.code;
    var message = ViewBag.message;
    ViewData["Title"] = code;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row pt-80">
        <div class="col-lg-6 col-md-12 d-lg-block d-none pr-50"><img src="/imgs/theme/page-not-found.png" alt=""></div>
        <div class="col-lg-6 col-md-12 pl-50 text-md-center text-lg-left">
            <h1 class="mb-30 font-weight-900 page-404">@code</h1>
            <form asp-controller="Blog" asp-action="Search" method="get" class="search-form d-lg-flex open-search mb-30">
                <i class="icon-search"></i>
                <input class="form-control" name="keyword" id="keyword" type="text" placeholder="Tìm kiếm...">
            </form>
            <p class="">
                @message.<br> Hãy ghé thăm <a href="/">Trang chủ</a> hoặc <a href="/Contact">Liên hệ chúng tôi</a> về vấn đề này
            </p>
            <div class="form-group">
                <button type="submit" class="button button-contactForm mt-30"><a class="text-white" href="/">Trang chủ</a></button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("main").addClass("bg-grey pt-80 pb-50");
        });
    </script>
}