@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-md-10">
            <div class="login_wrap widget-taber-content p-30 bg-white border-radius-10">
                <div class="padding_eight_all bg-white">
                    <div class="heading_s1 text-center">
                        <h3 class="mb-30 font-weight-900">Tạo tài khoản mới</h3>
                    </div>
                    <form method="post">
                        <div class="form-group">
                            <input type="text" required="" class="form-control" name="username" id="username" placeholder="Tên tài khoản">
                        </div>
                        <div class="form-group">
                            <input type="text" required="" class="form-control" name="name" id="name" placeholder="Tên">
                        </div>
                        <div class="form-group">
                            <input type="text" required="" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" required="" type="password" name="password" id="password" placeholder="Mật khẩu">
                        </div>
                        <div class="form-group">
                            <input class="form-control" required="" type="password" name="password" id="re-password" placeholder="Xác nhận mật khẩu">
                        </div>
                        <div class="text-xs-center">
                            <div class="g-recaptcha" data-sitekey="@Configuration["AppSetting:ReCaptchaSiteKey"]"></div>
                        </div>
                        <div class="login_footer form-group">
                            <div class="chek-form">
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="agreement" value="">
                                    <label class="form-check-label" for="agreement"><span>Đồng ý với các Điều khoản &amp; Dịch vụ.</span></label>
                                </div>
                            </div>
                            <a class="text-muted" href="#">Tìm hiểu thêm</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm btn-block">Đăng ký</button>
                        </div>
                    </form>
                    <div class="divider-text-center mt-15 mb-15">
                        <span> hoặc</span>
                    </div>
                    <ul class="btn-login list_none text-center mb-15">
                        <li><a href="#" class="btn btn-facebook"><i class="elegant-icon social_facebook  mr-5"></i>Facebook</a></li>
                        <li><a href="#" class="btn btn-google"><i class="elegant-icon social_googleplus mr-5"></i>Google</a></li>
                    </ul>
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    <div class="text-muted text-center">Đã có tài khoản? <a href="/Login">Đăng nhập ngay</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <script>
        var usingGoogleAuth = false;
        var avatar = "";

        $(document).ready(function () {
            $("main").addClass("bg-grey pt-80 pb-50");
            $("footer").toggleClass("bg-grey");

            setTimeout(function () {
                signOut();
            }, 500);

            $(".g-signin2").hide();


            $("form").submit(function (e) {
                e.preventDefault();
                if (grecaptcha.getResponse() == "") {
                    showWarning("", "Vui lòng xác nhận captcha!");
                }
                else if ($('#exampleCheckbox1').is(":checked")){
                    showWarning("", "Vui lòng đồng ý với các điều khoản!");
                }
                else {
                    var request = {
                        Username: $('[name="username"]').val(),
                        Password: $('[name="password"]').val(),
                        Email: $('[name="email"]').val(),
                        Name: $('[name="name"]').val(),
                        UsingGoogleAuth: usingGoogleAuth,
                        Avatar: avatar
                    };

                    $.ajax({
                        url: "/User/RegisterAccount",
                        method: "post",
                        dataType: "json",
                        data: {
                            request: request
                        },
                        success: function (data) {
                            if (data.status == 200) {
                                window.location.replace("/");
                            }
                            else {
                                showWarning("", data.message);
                            }
                        }
                    });
                }
            });

            $(".btn-google").click(function () {
                $(".abcRioButton").trigger('click');
            });
        });
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();

            $.ajax({
                url: "/User/GoogleOauth",
                method: "POST",
                dataType: "json",
                async: false,
                data: {
                    email: profile.getEmail()
                },
                success: function (data) {
                    if (data.status == 200) {
                        window.location.replace("/");
                    }
                    else {
                        usingGoogleAuth = true;
                        $("#username").val(profile.getEmail().split('@Html.Raw("@")')[0]);
                        $("#name").val(profile.getName());
                        avatar = profile.getImageUrl();
                        $("#email").val(profile.getEmail());
                        $("#email").attr("disabled", true);
                    }
                }
            });
        }

        function showWarning(title, message) {
            iziToast.warning({
                title: title,
                message: message,
            });
        }
    </script>
}

<style>
    .text-xs-center {
        text-align: center;
    }

    .g-recaptcha {
        display: inline-block;
    }
</style>